<div class="container">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Users</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users">
            <td *ngIf="user.username != userService.getLoggedInUser().username">{{ user.username }}</td>
            <td *ngIf="user.username != userService.getLoggedInUser().username"><button class="btn btn-success button" routerLink="/chatroom" [queryParams]="{ name: user.username, email: user.email }" >Chat</button></td>
          </tr>   
        </tbody>
      </table>
</div>
