/* .myDiv {
    margin-top: 50px;
    border: 0.5px solid grey;
    height: 100%;
    overflow: hidden;
}

.user-names {
    height: 50px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    padding: 5px;
    text-align: left;
    cursor: pointer;
}

.user-names:hover {
    background-color: #A0A0A0;
    font-weight: bold;
}

.user-profile {
    height: 70px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    padding: 5px;
}

[data-letters]:before {
    content:attr(data-letters);
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background:#2B3DA5;
    vertical-align:middle;
    margin-right:1em;
    color:white;
}
*/

