
h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #0D570D;
}

#mario-chat{
    max-width: 1000px;
    min-width: 500px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    border-radius: 10px;
}

#chat-window{
    height: 500px;
    overflow: auto;
    background: #E2E2E2;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#output {
    height: 500px;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

.chat-output {
    height: 500px;
}


label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

#send{
    background: #0C491B;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

#leave {
    background: skyblue;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

.userMessage {
    width: fit-content;
    max-width: 70%;
    background-color: #5B9B5B;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1px;
    color: white;
}

.secUserMessage {
    width: fit-content;
    max-width: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1px;
    color: black;
}

.isTyping {
    color: #888787;
    padding-left: 5px;

}