<div id="mario-chat">
    <h2>{{ username }}</h2>
    <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
    <div id="chat-window">
        <div *ngFor="let item of messageArray">
            <p [class.userMessage] = "item.user == userService.getLoggedInUser().username" [class.secUserMessage]="item.user != userService.getLoggedInUser().username">{{ item.message }}</p>                
        </div>
        <!-- <div id="feedback"></div> -->
    </div>
    <input (keypress)="typing()" [(ngModel)]="message" name="message" type="text" placeholder="Message" />            
    <button id="send" (click)="sendMessage()">Send</button>    
</div>